#pn1 {
    -fx-opacity: 0.6;
}

#pane {
    -fx-background-image: url("login_bg.jpeg");
    -fx-background-size: cover;
}

#bt {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    
}

#bt .text {
    -fx-font-weight: bold;
}

#bt:hover {
    -fx-background-color: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
}

#tt {
    -fx-fill: white;
}